/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* ************************ button heart ****************** */

.main-body {
  opacity: 0;
  transition: opacity 300ms linear, fill 300ms linear;
}

.core {
  opacity: 0;
  transition: opacity 300ms linear, fill 300ms linear;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  outline: none;
  cursor: pointer;
  block-size: 41px;
  inline-size: 43px;
  margin: 25px 12px;
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
}

.card__icon-button:hover .core {
  opacity: 1;
  transition: opacity 300ms linear;
}

.card__icon-button:hover .main-body {
  opacity: 1;
  transition: opacity 300ms linear 50ms;
}

.card__icon-button:active .core {
  fill: var(--sparks);
  transition: fill 300ms linear;
}

.card__icon-button:active .main-body {
  fill: var(--sparks);
  transition: fill 300ms linear 30ms;
}

.like-icon.is-liked .core {
  fill: var(--sparks);
  opacity: 1;
  transition: fill 300ms linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks);
  opacity: 1;
  transition: fill 300ms linear 50ms;
}

.like-icon.is-liked .contour {
  fill: var(--sparks);
  opacity: 1;
  transition: fill 300ms linear 60ms;
}

.like-icon.is-liked {
  animation: heart 300ms ease-in 100ms 1 alternate;
}
.like-icon .contour {
  transition: fill 100ms linear;
}

.like-icon.is-liked .sparks {
  animation: sparks 300ms ease-in 300ms 1 alternate;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

@keyframes arrow {
  from {
    left: -10px;
  }
  to {
    left: -14px;
  }
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
