/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: "PressStart2P";
  max-inline-size: 696px;
  margin: auto;
  min-inline-size: 375px;
}

.header {
  border: 2px solid var(--accent-color-dark);
  text-align: center;
  margin-top: 102px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-top: clamp(120px, 10vw, 136px);
  padding-bottom: 20px;
  padding-left: 14px;
  padding-right: 14px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding: 0 80px 25px;
}
.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  padding-bottom: 25px;
  width: 126px;
  justify-items: center;
}

.theme-menu__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: Press Start 2P;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
}

.card {
  margin-block-start: 100px;
  background-color: black;
  font-family: Inter-Variable;
  font-size: 18px;
}

.card__title {
  font-weight: 785;
  font-size: 18px;
  line-height: 21.78px;
  padding: 3px 10px;
}

.card__picture {
  width: 100%;
  max-width: 696px;
  min-width: 375px;
  position: relative;
}
.card__picture::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card__picture-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/van.png);
  background-size: cover;
  background-position: center;
}

.card__content {
  font-weight: 465;
  padding: 25px 25px 27px;
  font-size: 18px;
  line-height: 21px;
}

.card__logo {
  font-family: "PressStart2P";
  opacity: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  font-size: 14px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.card__icon-button {
  cursor: pointer;
  inline-size: 169px;
}
