/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000);
  background-image: var(--bg-image, #fff);
  background-size: cover;
  padding-top: 100px;
  max-inline-size: var(--max-width);
  min-inline-size: var(--min-width);
  margin: auto;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font, Arial, Helvetica, sans-serif);
    font-variation-settings: "wght" var(--font-weight, 400);
  }
}

.header {
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color, #000);
  text-align: center;
  margin-top: 100px;
  background-color: var(--bg-color, #fff);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-top: clamp(120px, 10vw, 136px);
  padding-bottom: 20px;
  padding-left: 14px;
  padding-right: 14px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding: 0 80px 25px;
}
.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  padding-bottom: 25px;
  justify-items: start;
}

.theme-menu__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: -1px;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transition: 300ms;
}

.theme-menu__button:focus-visible::after {
  content: "";
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -25px;
  animation: arrow 500ms infinite ease-in-out;
  animation-direction: alternate;
}

.card {
  margin-block-start: 100px;
  background-color: var(--bg-color, #fff);
  font-size: 18px;
  border: 2px solid var(--accent-color, #000);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title, 700);
  font-size: 18px;
  line-height: 21.78px;
  padding: 3px 10px;
}

.card__picture {
  width: 100%;
  max-width: 696px;
  min-width: 375px;
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}
.card__picture::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card__picture-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/van.png);
  background-size: cover;
  background-position: center;
}

.card__content {
  padding: 25px 25px 27px;
  font-size: 18px;
  line-height: 21px;
}

.card__logo {
  font-family: var(--accent-font);
  opacity: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  font-size: 14px;
  text-shadow: 
  -1px -1px 0 var(--bg-color),
   1px -1px 0 var(--bg-color),
  -1px 1px 0 var(--bg-color),
   1px 1px 0 var(--bg-color);
}

.card__like-button-conteiner {
  display: flex;
  justify-content: end;
}

.card__like-button {
  cursor: pointer;
  block-size: 38px;
  inline-size: 169px;
  margin: 25px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__heart {
  inline-size: 39px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 36px;
  border: 2px solid var(--accent-color);
  display: block;
  flex-grow: 1;
}

.card__icon-button-conteiner {
  display: flex;
  justify-content: center;
}

.card__icon-button {
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  border: 2px solid var(--accent-color);
  margin-top: 52px;
  margin-bottom: 100px;
  inline-size: 335px;
  min-block-size: 51px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.floppy {
  inline-size: 21px;
}

.card__icon-button > .button__text {
  border: 0;
}

@keyframes arrow {
  from {
    left: -10px;
  }
  to {
    left: -14px;
  }
}
