/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000);
  background-image: var(--bg-image, #fff);
  background-size: cover;
  padding-top: 100px;
  max-inline-size: var(--max-width);
  min-inline-size: var(--min-width);
  margin: auto;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font, Arial, Helvetica, sans-serif);
    font-variation-settings: "wght" var(--font-weight, 400);
  }
}

.header {
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color, #000);
  text-align: center;
  margin-top: 100px;
  background-color: var(--bg-color, #fff);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-top: clamp(120px, 10vw, 136px);
  padding-bottom: 20px;
  padding-left: 14px;
  padding-right: 14px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding: 0 80px 25px;
}
.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  padding-bottom: 25px;
  justify-items: start;
}

.theme-menu__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: -1px;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 300ms;
}

.theme-menu__button:focus-visible::after {
  content: "";
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -25px;
  animation: arrow 500ms infinite ease-in-out;
  animation-direction: alternate;
}

/* ************************ card ****************** */

.card {
  margin-block-start: 100px;
  background-color: var(--bg-color, #fff);
  font-size: 18px;
  border: 2px solid var(--accent-color, #000);
}

.card__image-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.card__logo {
  position: absolute;
  font-family: var(--accent-font);
  opacity: 50%;
  padding: 25px;
  font-size: 14px;
  text-shadow: -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color), 1px 1px 0 var(--bg-color);
  mix-blend-mode: hard-light;
}

.card__image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--accent-color, #000);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title, 700);
  font-size: 18px;
  line-height: 21.78px;
  padding: 3px 10px;
  border-bottom: 2px solid var(--accent-color, #000);
}

.card__content {
  padding: 25px 25px 27px;
  font-size: 18px;
  line-height: 21px;
}

/* @media (max-width: 375px) {
  .card2__image {
    width: 100%; 
   max-width: 100%; 
  }
}  */


/* ************************ FILTERS ****************** */

.dog {
  animation: dog 30s ease infinite;
}

.dog:hover {
  filter: brightness(2);
}






/* ************************ button heart ****************** */

.main-body {
  opacity: 0;
  transition: opacity 300ms linear, fill 300ms linear;
}

.core {
  opacity: 0;
  transition: opacity 300ms linear 30ms, fill 300ms linear;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  outline: none;
  cursor: pointer;
  block-size: 41px;
  inline-size: 43px;
  margin: 25px 12px;
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
}

.card__icon-button:hover .core {
  opacity: 1;
  transition: opacity 300ms linear;
  /* transition: fill 300ms linear; */
}

.card__icon-button:hover .main-body {
  opacity: 1;
  transition: opacity 300ms linear 50ms;
}

.card__icon-button:active .core {
  --core-heart: red;
  transition: fill 300ms linear;
}

.card__icon-button:active .main-body {
  --core-heart: red;
  transition: fill 300ms linear;
}

.like-icon.is-liked .core {
  --core-heart: red;
  opacity: 1;
  transition: fill 300ms linear;
}

.like-icon.is-liked .main-body {
  --core-heart: red;
  opacity: 1;
  transition: fill 300ms linear 50ms;
}

.like-icon.is-liked .contour {
  --accent-color: red;
  opacity: 1;
  transition: fill 300ms linear 60ms;
}

.like-icon.is-liked {
  animation: heart 300ms ease-in 100ms 1;
}
.like-icon .contour {
  transition: fill 100ms linear;
}

.like-icon.is-liked .sparks {
  animation: sparks 300ms ease-in 300ms 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

/* ************************ button like ****************** */

.card__like-button-conteiner {
  display: flex;
  justify-content: end;
  gap: 1px;
}

.card__like-button {
  cursor: pointer;
  block-size: 38px;
  inline-size: 169px;
  margin: 25px 25px 25px 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  border: 2px solid var(--accent-color);
  padding: 0;
  transition: box-shadow 300ms ease;
  position: relative;
  overflow: hidden;
}

.card__like-button::before {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: var(--accent-color, #000);
  inline-size: 100%;
  block-size: 100%;
  transform: translate(-100%);
  transition: transform 500ms ease-in-out;
}

.card__like-button:hover::before {
  transform: translate(0);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__heart {
  inline-size: 39px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  display: block;
  flex-grow: 1;
  color: var(--button-text, #fff);
  transition: color 1000ms ease;
}

/* ************************ button save ****************** */

.save-button-conteiner {
  display: flex;
  justify-content: center;
}

.save-button {
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  border: 2px solid var(--accent-color);
  margin-top: 52px;
  margin-bottom: 100px;
  inline-size: 335px;
  min-block-size: 51px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  padding: 0;
}

.save-button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 500ms ease-in-out;
}

.save-button:hover::before {
  transform: scaleX(1);
}

.save-button:focus {
  outline: none;
}
.save-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.floppy {
  inline-size: 21px;
  padding-left: 19px;
  flex-grow: 1;
}

.save-button > .button__text {
  border: 0;
}
/* ************************ Dialog ****************** */

#dialog-id {
  max-inline-size: 353px;
  min-inline-size: 341px;
  padding: 30px;
  block-size: 191px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
}

#dialog-id[open] {
  display: inline-grid;
  grid-template-columns: 39px auto;
  column-gap: 20px;
  row-gap: 30px;
}

.dialog__floppy {
  justify-self: center;
  align-self: center;
  color: var(--accent-color);
}
.dialog-button {
  grid-column: 1/3;
  cursor: pointer;
  block-size: 38px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding: 0;
  transition: box-shadow 300ms ease;
  text-transform: inherit;
}
.dialog-button:focus {
  outline: none;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
  
}

/* ************************ Animation ****************** */

@keyframes arrow {
  from {
    left: -10px;
  }
  to {
    left: -14px;
  }
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dog {
  from {
    filter: contrast(10%);
  }
  to {
    filter: contrast(100%);
  }
  
}
