/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --max-width: 696px;
  --min-width: 375px;
  --font: "Inter-Variable";
  --accent-font: "PressStart2P";
  
 
}

/* проверка синхронизации 1 */
